mixin page
	<!-- block header -->
	+header()
	<!-- end block header -->
	
	<!-- block promo -->
	+promo()
	<!-- end block promo -->
	
	<!-- block strategy -->
	+strategy()
	<!-- end block strategy -->

	<!-- block projects -->
	+projects()
	<!-- end block projects -->
	
	<!-- block location -->
	+location()
	<!-- end block location -->

	<!-- block similar -->
	+similar()
	<!-- end block similar -->
	
	<!-- block contacts -->
	+contacts()
	<!-- end block contacts -->
	
	<!-- block scroll-to-top -->
	+scroll-to-top({
		"class": "page__to-top",
		"link": "#promo"
	})
	<!-- end block scroll-to-top -->