/*!********************************************
		Block .scroll-to top
**********************************************/
.scroll-to-top
	box-sizing border-box
	display block
	position fixed
	z-index 500
	width 2.5rem
	height 2.5rem
	border-radius 50%
	background-color darken(#fff, 5%)
	opacity 0
	transition all .2s ease .2s
	&:hover
		background-color darken(#fff, 15%)
	
	/*!*** modifier scroll-to-top animation *****/
	&--fadeIn
		animation fadeIn .5s ease 1 forwards
	&--fadeOut
		animation fadeOut .5s ease 1 forwards
	
	/*!*** elem elem *****/
	&__elem
		position absolute
		left .25rem
		top .25rem
		width 2rem
		height 2rem
		fill $base-text-color-active
		fill-rule evenodd
		transition all .2s ease .2s
		&:hover
			fill lighten($base-text-color-active, 20%)
			
//animation function
@keyframes fadeIn
	0%  
		opacity 0
	100%
		opacity .8
		
@keyframes fadeOut
	0%  
		opacity .8
	100%
		opacity 0