mixin menu-btn(item)
	+b.BUTTON.menu-btn(class=item.class, type="button")
		+e.SVG.bg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 302 302")
			+e.PATH.elem(d="M0 36h302v30H0zM0 236h302v30H0zM0 136h302v30H0z")