mixin promo
	+b.SECTION.promo#promo
		+e.H1.title
			|&laquo;...в xxi столетии развитыми будут те страны, 
			|где интенсивно развивается ветроэнергетика&raquo;
		+e.P.desc
			| Программа 
			abbr(title="Организация Объединенных Наций") ООН
			|  развития мировой энергетики
		+e.P.desc
			| Предприятия Азовэнерго и Азовэнергомаш 
			|специально созданы для развития проектов ветроэнергетики 
			|и повышения энергонезависимости Украины 
			|без ущерба для ее экологии.
		+e.A.sign(href="#promo")