font-face(
	'Roboto', 
	normal, 
	300, 
	'Roboto', 
	'../fonts/roboto-light.woff2', 
	'../fonts/roboto-light.woff'
)

font-face(
	'Roboto Condensed', 
	normal, 
	bold, 
	'Roboto Condensed', 
	'../fonts/roboto-condensed-bold.woff2', 
	'../fonts/roboto-condensed-bold.woff'
)