/*
		Base
*/
$base-bg-color 									= #fff
$base-text-color								= #8198a0
$base-text-color-hovered				= #28363d
$base-text-color-active					= #00aeef
$base-font-family								= 'Roboto', Arial, Helvetica, sans-serif;
$base-font-size-md							= 1.125rem
$base-font-size-sm							= 1rem
$base-font-weight								= 300
$base-line-height								= 2.75rem


/*
		Headings
*/
$heading-color									= #28363d
$heading-font-family						= 'Roboto Condensed', Arial, Helvetica, sans-serif;
$heading-font-size							= 1.5rem
$heading-font-weight						= 700
$heading-letter-spacing					= .15em

/*
		Header block
*/
$header-hight										= 4.375rem


/*
		Promo block 
*/
$promo-height										= 64.5625rem
$promo-text-color								= #4e636a
$promo-heading-font-size				= 2.25rem
$promo-letter-spacing						= .16rem
$promo-text-font-size						= 1.5rem
$promo-line-height							= 2.375rem
$promo-heading-line-height			= 3.4375rem


/*
		Projects block 
*/
$projects-letter-font-size			= 8rem
$projects-bgcolor								= #fafbfb

/*
		Contacts block 
*/
$contacts-line-height						= 1.875rem
$contacts-address-color					= #28363d
$contacts-address-font-size			= 1.5rem
$contacts-address-line-height		= 2.75rem


/*
		Media Queries
*/
$media-mob-xs										= 29em //464px
$media-xs												= 42em // 672px
$media-md												= 60em //960px
$media-lg												= 80em // 1280px
$media-xlg											= 90em // 1440px
