mixin project(item)
	+e.FIGURE.project
		+e.IMG.img(src=item.src, alt=item.alt)
		+e.FIGCAPTION.desc
			+e.H3.title
				span(class=item.letter.class)= item.letter.content
				= item.title
			+e.P.info= item.info

mixin projects
	+b.SECTION.projects
		+project({	
			"src": "img/projects/projects__image-1.jpg",
			"alt": "Изображение ветряков",
			"letter": {
				"class": "projects__letter projects__letter--currency",
				"content": "11 "
			},
			"title": "европейский зеленый тариф",
			"info": "В настоящее время в Украине наблюдается бурное развитие ветроэнергетической отрасли, обусловленное принятием одного из самых высоких в европе зеленого тарифа на элетроэнергию ветра — 11 евроцентов за 1 кВт·ч до 2030 г."
		})
		+project({
			"src": "img/projects/projects__image-2.jpg",
			"alt": "Изображение ветряков",
			"letter": {
				"class": "projects__letter",
				"content": "20 "
			},
			"title": "ветроэлектростанций в украине",
			"info": "Более трети введенных в экслуатацию ВЭС приходится на Запорожскую область, несколько меньше — на Крым и Донецкую область. Исходя из этого, частные предприятия Азовэнерго и Азовэнергомаш созданы для реализации проектов ветроэлектростанций именно на прибрежных территориях Акимовского района Запорожской области."
		})
		+project({
			"src": "img/projects/projects__image-3.jpg",
			"alt": "Изображение ветряков",
			"letter": {
				"class": "projects__letter",
				"content": "150+ "
			},
			"title": "ветрогенераторов будет установлено",
			"info": "Годичный ветромониторинг позволил отобрать и отвести наиболее привлекательные места для установки ветрогенераторов, а также участки для расположения офисных и диспетчерских помещений, монтажа вспомогательного оборудования, прокладки подземных коммуникаций и организации проездов ко всем объектам с целью обеспечения текущего контроля и периодического обслуживания."
		})
		+project({
			"src": "img/projects/projects__image-4.jpg",
			"alt": "Изображение ветряков",
			"letter": {
				"class": "projects__letter projects__letter--sup",
				"content": "4–5 "
			},
			"title": "окупаемость вложенных средств",
			"info": "Эксплуатация электростанции на энергии ветра возволит существенно снизить выбросы CO в атмосферу. Таким образом, работа ветроэлетростанции установленной мощностью 445 МВт позволит сократить ежегодные выбросы в 1,3 млн. тонн в сравнении с угольной станцией, либо на 541 тыс. тонн — со станцией на природном газе."
		})
		

