mixin strategy
	+b.SECTION.strategy#strategy
		+e.H2.title(class="caption") стратегия
		+e.P.desc Согласно обновленной &laquo;Энергетической стратегии Украины на период до 2030 г.&raquo;, в нашей стране в 2030 году должно вырабатываться не менее 30% от всей электроэнергии из возобновляемых источников энергии, таких как солнце, ветер, воды рек и других.
